@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000000;
  color: white;
  margin: 0 0;
}

.card{
  @apply w-72 cursor-pointer border-b-4 rounded-md bg-gradient-to-t from-[#c8ebd278]/20 h-44 text-center px-3  self-end duration-500 delay-100
}

.card-active {
  @apply h-60 scale-[1.2] 
}
/* .logo {
  @apply text-5xl mt-2 w-full h-full mx-auto  rounded-full text-red-600 grid place-items-center
} */

.para {
  @apply mt-3
}

.card .skill-level {
  @apply border-2 border-gray-200 text-white min-w-[3rem] min-h-[3rem] grid place-items-center rounded-full max-w-[3rem] absolute right-0 scale-0
}


.card-active .skill-level {
  @apply scale-[1.3] delay-700 duration-300
}

.card-active .logo{
  @apply bg-red-500 text-red-200
}

/* @font-face {
    font-family: 'Main';
    src: url('../public/medias/');
} */

@font-face {
    font-family: 'PPRader';
    src: url('../public/medias/PPRader-Regular.ttf')
    /* Thay đổi đường dẫn đến font file của bạn */
  }
  
  /* .font-snell {
    font-family: 'PPRader', cursive;
  } */
 