.main{
    display: flex;
    height: 13vh;
    align-items: flex-end;
    /* justify-content: start; */

    color: rgb(211, 211, 211);
}

.body{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.body p{
    font-size: 36px;
    margin: 0px;
    margin-right: 1vw;
    font-weight: 700;
}

.body span{
    opacity: 0.2;
}